<h1>Report New</h1>
<%= form_for :report, url: report_create_path do |f| %>
  <%# render "shared/errors", object: :report %>
  <%= f.select(
      :account_id,
      options_from_collection_for_select(
        Account.all,
        :id,
        :account_number
      ),
      {
        include_blank: "Please select a Account"
      },
      { class: "form-control" }
  ) %>
  <hr>
  <%= f.submit "Save / Update", class: "btn btn-primary" %>

<% end %>
